<h1>Moviest</h1>

<p><%= @user.name %> さん / Hi <%= @user.name %>,<p/>

<p>
Moviestにご登録いただきありがとうございます！
<br>
リンク先からアカウントの認証をしてください。
<br>
(Welcome to the Moviest!
<br>
Click on the link below to activate your account:)
</p>

<%= link_to "アカウント認証(Activate)", edit_account_activation_url(id: @user.activation_token, 
                                                    email: @user.email) %>
