<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t('views.shared._user_info.s1_html'), current_user %></span>
<span><%= pluralize(current_user.comments.count, t('views.shared._user_info.s2_html')) %></span>