<footer class="footer">
  <small>
    <a href="https://moviest-jp.com">
      Moviest
    </a> 
    by <a href="https://github.com/jack20xx">Jack20xx</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('views.layouts._footer.about'),      about_path %></li>
      <li><%= link_to t('views.layouts._footer.contact'),    contact_path %></li>
    </ul>
  </nav>
</footer>