<footer class="footer">
  <small>
    <a href="https://moviest-jp.com">
      Moviest
    </a> 
    by <a href="#">Jack20xx</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "このサイトについて",      about_path %></li>
      <li><%= link_to "コンタクト",    contact_path %></li>
    </ul>
  </nav>
</footer>